.bg-primary {
  background-color: crimson !important;
}

.text-primary {
  color: crimson !important;
}

.border-primary {
  border-color: crimson !important;
}

.border-primary-dark {
  border-color: rgb(220 20 60 / 50%) !important;
}

.navbar-brand {
  margin-right: 1.5rem;
}

.navbar-brand img {
  width: 3.5rem;
}

.button-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(220 20 60 / 50%) !important;
}

section {
  scroll-margin-top: 4.5rem;
}

#carousel {
  height: 25rem;
}

.carousel-item img {
  object-fit: cover;
}

#sneakers .col img {
  height: 15rem !important;
  object-fit: cover;
}

.toast img {
  width: 1.5rem;
  object-fit: cover;
}
